*{
    font-family: Roboto;
}
.container{
    max-width: 1146px;
    margin: 0 auto;
    margin-top: 20px;
}
ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black
}
a:hover{
    text-decoration: underline;
}
.first__header{
    display: flex;
    align-items: center;
}
.title__header{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    margin-left: 6px;
}
.menu__header{
    display: flex;
    padding-left: 20px;
}
.item__header{
    margin-right: 14px;
    font-size: 14px;
}
.button__header{
    font-size: 14px;
    width: 161px;
    height: 36px;
    margin-left: 30px;
    background-color: rgba(37, 110, 235, 1);
    color:white;
    border-radius: 7px;
    border: none;
}
.registration__header{
    font-size: 14px;
    margin-left: 437px;
}
.search{
    margin-top: 18px;
}
.search__main{
    border-radius: 5px;
    max-height: 50px;
    background-color: rgba(37, 110, 235, 1);
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search__main input{
    border: 0;
    border-radius: 5px;
    width: 100%;
    size: 14px;
    padding: 14px 0 14px 21.45px;
}
.search__right{
    margin-left: 20px;
}
.search__text{
    margin-left: 6px;
    margin-right: 20px;
    color: white;
    font-size: 16px;
}
.start__main{
    display: flex;
    align-items: center;
}
.services__main{
    margin-left: 620px;
    font-size: 18px;
}
.main{
    margin-top: 20px;
}
.card{
    max-width: 264px;
}
.card:hover{
    cursor: pointer;
}
.text{
    margin: 0px;
    font-weight: bold;
    color: rgba(37, 110, 235, 1);
}
.price{
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}
.when{
    font-size: 14px;
    color: rgb(196, 196, 196);
    margin: 0px;
}
.where{
    font-size: 14px;
    color: rgb(196, 196, 196);
    margin: 0px;
}
.name{
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cards__main{
    max-height: 610px;
    max-width: 880px;
    display: flex;
    flex-wrap: wrap;
}
.cards__main a{
    margin-bottom: 21px;
    max-height: 300px;
    max-width: 274px;
    margin-right: 26px;
}
.services{
    max-width: 230px;
    margin-left: 0px;
    margin-top: 4px;
}
.services h2{
    font-size: 18px;
    margin-bottom: 25px;
}
.services__section img{
    margin-bottom: 7px;
}
.services__section{
    margin-bottom: 25px;
    max-width: 211px;
}
.services__section p{
    font-size: 14px;
    margin-top: 0px;
}
.services__name{
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: bold;
}
.all__main{
    display: flex;
}
.footer{
    margin-top:25px;
 
}
.footer__grey-line{
    display: block;
    border-top: 2px rgba(229, 229, 229, 1) solid;
    width: 261px;
}
.footer__grey-text{
    font-size: 14px;
    margin-top: 18px;
    margin-bottom: 0px;
    color: rgba(229, 229, 229, 1);
}
.a-grey{
    text-decoration: underline;
}
 
.little-text_first{
    margin-top: 16px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}
.little-text{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}
.logo{
    display: flex;
}